:root{
  --bkg:#26077c;
  --bkg-hover: #926ff1;
}

.App{
  text-align: center;
  overflow: hidden;
  background: #f3f3f3;

}
/* .bkg-transparent{
  position: relative;
  transform: rotate(45);
  background: rgba(100, 23, 23, 0.1);
  width: 30%;
  height: 30%;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--bkg);
  height: 150px;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0 5em;
  z-index: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
